/*.h_container, .a_container, .c_container, .tc_container, .p_container, .sc_container  {
  margin: 0 auto;
  width: 960px;
}*/

/*#page-header  {
  border-bottom: 3px solid #333;
  padding: 0 3%;
  background: lightblue;
  height: 150px;
}

.wrapper-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}*/

/*Fixing Bootstrap*/
/*
nav .logo {
  border: 2px solid #333;
  height: 100px;
  width: 20%;
  float: left;
}

.navlinks {
  float:right;
  padding-top: 75px; 
}*/

/*End of CSS Fixing for Nav with Bootstrap*/

/*#page-header .logo {
  width: 20%;
  float: left;
}

.logo img {
  max-width: 100%
}

#page-header nav {
  float:right;
  padding-top: 75px; 
}



#page-header nav li {
  float: left;
  list-style: none;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 20px 15px;
  font-weight: bold;
}*/

/*Homepage*/
/*
.home_images  {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 50px;
}

.home_images div {
  flex-grow: 1;
  background-color: #EEEEEE;
}

.home_images img {
  width: 100%*/
}  
/*  border: 1px solid #333;
}*/

/*About*/

/*.a_content-container  {
  display: flex;
  flex-direction: row;
  background-color: #EEEEEE;
  margin-top: 20px;
}

.a_content-container img {
  width: 30%;
  height: 300px;
  border: 1px solid #333;
}

.a_content-container article {
  width: 60%;
  margin-left: 10%;
  padding-right: 2%;
}

.a-content-container p {
  text-align: left;
  font: garamond;
}*/



/*Contact*/
/*
.c_content-container  {
/*  height: 600px;*/
 /* display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.c_content-container img {
  width: 30%;
  height: 300px;
  border: 1px solid #333;
}

.c_content-container article {
  width: 60%;
  margin-left: 10%;
  background: #EEE;
}

.c_content-container h3 {
  /*color: lightblue;*/
  /*text-align: center;
}

.c_content-container p {*/
  /*color: lightblue;*/
/*}

.form, .contact {
  margin-left: 5%;
}

.entry {
  background: #fff;*/
  /*border: 1px solid #111;*/
 /* border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  display: inline-block;
  width: 90%;
  height: 30px;*//**//**/*/
  /*vertical-align: middle;*/
  /*box-shadow: #111 0 0 20px;*/
/*}

#message {
  height: 400px;
}

#submit-btn {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background: lightblue;
  color: black;
  display: block;
  text-align: center;
  padding: 12px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin-top: 20px;
}*/*/


/*/*press*/
.p_content-container  {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.p_content-container article {
  height: 300px;
  background-color: blue;
  border: 1px solid #333;
  margin-bottom: 5px;
}*/

/*tiered cakes*/
/*.tc_content-container  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.tc_image {
  width: 30%;
  height: 200px;
  background-color: blue;
  border: 1px solid #333;
  margin-bottom: 5%;

}*/

/*sculpted cakes*/
/*.sc_content-container  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.sc_image {
  width: 45%;
  height: 200px;
  background-color: blue;
  border: 1px solid #333;
  margin-bottom: 5%;*/